<%- include('../partials/header.ejs') %>

	<body>

		<div class="container">

			<div class="card">
				<div class="card-header">Listar especialidade</div>
			</div>
			
			<% especialidades.forEach(especialidade=>{ %>
				<div class="card mt-2">
					<div class="card-body">
						<%= especialidade.nome_especialidade %>
					</div>

					<a href="/editarEspecialidades/<%= especialidade.id %>" class="btn btn-success">Editar especialidade</a>

				</div>

			<%  }); %>

		</div>

	</body>

	<%- include('../partials/footer.ejs') %>

</html>